<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        html, body {
            height: 100%;
            margin: 0;
            padding: 0;
            width: 100%;
            overflow: hidden; /* 防止滚动条影响布局 */
        }
    </style>
    <meta charset="UTF-8">
    <title>折线图</title>
    <script src="https://cdn.jsdelivr.net/npm/echarts/dist/echarts.min.js"></script>
</head>
<body>
    <script type="text/javascript">
        var myChart = echarts.init(document.getElementById('main'));
        myChart.setOption({{ chart|safe }});
    </script>
</body>
</html>
